html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

.counteiner {
  max-width: 1170px;
  margin: auto;
}

.par {
  max-width: 1370px;
  margin: auto;
}

img {
  border-radius: 15px;
  max-width: 100%;
  max-height: 100%;
}

a.nav {
  text-decoration: none;
  color: white;
}

a.nav:hover {
  padding: 10px;
  outline: white solid;
  outline-width: 1px;
}

.header {
  padding-bottom: 100px;
  background-color: black;
}

.header__tittle {
  padding-top: 35px;
  padding-bottom: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 30% 40% 30%;
      grid-template-columns: 30% 40% 30%;
  max-width: 1170px;
}

.header__nav {
  font-size: 24px;
  font-family: 'Poiret One', cursive;
  text-align: center;
  color: white;
}

.header__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 45% 10%;
      grid-template-columns: 45% 45% 10%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
      grid-template-areas: "text foto none" "text foto contact";
  margin-top: 10px;
}

.header__text {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: text;
  font-family: 'Poiret One', cursive;
  font-size: 60px;
  text-align: center;
  z-index: 2;
  padding: 20px;
  color: white;
}

.header__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: foto;
  margin-left: 60px;
}

.header__contact {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: contact;
  color: white;
  z-index: 2;
}

.header__bottom {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Poiret One', cursive;
  margin: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
}

.header__bottom:hover {
  background-color: white;
}

a.contact {
  color: black;
  text-decoration: none;
  margin: 10px;
}

.parolax {
  width: 100%;
  -webkit-perspective: 1px;
          perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  position: absolute;
}

.content__text1 .styleText {
  font-family: 'Rubik Mono One', sans-serif;
  color: #189200;
}

.content__text2 .styleText {
  font-family: 'Rubik Mono One', sans-serif;
  color: #ff3b3b;
}

.styleText {
  font-family: 'Rubik Mono One', sans-serif;
  color: #768d52;
}

.text2header {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 44px;
}

.text3header {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 24px;
}

.content__body1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 5fr 3fr 4000px 3fr 1400px;
      grid-template-rows: 1fr 5fr 3fr 4000px 3fr 1400px;
}

.content__tittle {
  padding: 40px 200px;
  z-index: 1;
  background-color: white;
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 68px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1/10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.content__text1 {
  font-size: 24px;
  padding: 70px;
  font-family: 'Poiret One', cursive;
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-column: 5/10;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.content__text2 {
  font-size: 24px;
  padding: 45px;
  font-family: 'Poiret One', cursive;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.content__img1 {
  z-index: -1;
  -webkit-transform: translateZ(-5px) scale(1.4);
          transform: translateZ(-5px) scale(1.4);
  position: absolute;
  top: 70%;
  left: -100%;
}

.content__img2 {
  -webkit-transform: translateZ(-1px) scale(0.35);
          transform: translateZ(-1px) scale(0.35);
  position: absolute;
  top: 150%;
  left: -70%;
}

.content__img3 {
  -webkit-transform: translateZ(-3px) scale(1);
          transform: translateZ(-3px) scale(1);
  position: absolute;
  top: 630%;
  right: -100%;
}

.content__img4 {
  -webkit-transform: translateZ(-1px) scale(0.4);
          transform: translateZ(-1px) scale(0.4);
  position: absolute;
  top: 550%;
  right: -80%;
}

.content__img5 {
  -webkit-transform: translateZ(-2px) scale(0.4);
          transform: translateZ(-2px) scale(0.4);
  position: absolute;
  top: 730%;
  right: -30%;
}

.gallery {
  margin-top: 700px;
  color: white;
  background-color: black;
  padding-bottom: 40px;
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 68px;
  padding-top: 40px;
}

.gallery__body {
  color: white;
}

.slider img {
  max-width: 560px;
}

.slider .slick-arrow {
  color: white;
  font-size: 0px;
  font-family: 'Poiret One', cursive;
  background-color: transparent;
  border-style: none;
  position: absolute;
  top: 50%;
  z-index: 10;
}

.slick-prev::before {
  font-size: 70px;
  content: "< ";
}

.slick-next::after {
  font-size: 70px;
  content: " >";
}

.slick-prev {
  background-color: none;
  left: 0;
}

.slick-next {
  background-color: none;
  right: 0;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: solid 1px #fff;
}

.slider .slick-dots button {
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  border-style: none;
}

.slider {
  margin-top: 40px;
  position: relative;
}

.slider__item {
  min-width: 0;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.footer {
  background-color: #303030;
  height: 450px;
  font-family: 'Poiret One', cursive;
  text-align: center;
  color: white;
  padding-top: 40px;
}

.footer__header {
  font-size: 68px;
}

.footer__body {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__inst {
  border-radius: 125px;
  height: 250px;
  width: 250px;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
}

.footer__mail {
  border-radius: 125px;
  height: 250px;
  width: 250px;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
}

.footer__VK {
  border-radius: 125px;
  height: 250px;
  width: 250px;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
}

a.marg {
  font-size: 54px;
  color: black;
  text-decoration: none;
}

.buttonFoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poiret One', cursive;
}

.buttonFoot:hover {
  background-color: white;
}
/*# sourceMappingURL=style.css.map */