body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bgImage1 {
  overflow: hidden;
  background: url(img/image4\.svg) 100% 100% no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 680px;
}

@media screen and (max-height: 679px) {
  .bgImage1 {
    background-size: cover;
    background: url(img/image4\.svg) center no-repeat;
  }
}

@media screen and (max-width: 399px) {
  .bgImage1 {
    background: url(img/image13\.svg) 100% 100% no-repeat;
    background-size: cover;
  }
}

.bgImage2 {
  overflow: hidden;
  position: relative;
  background: url(img/image7\.svg) 100% 100% no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 680px;
}

@media screen and (max-width: 999px) {
  .bgImage2 {
    height: 100%;
  }
}

@media screen and (max-width: 399px) {
  .bgImage2 {
    background: url(img/image12\.svg) 100% 100% no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 599px) {
  .bgImage2 .mobileCounteiner {
    max-width: none;
    margin: none;
  }
}

.counteiner {
  max-width: 1220px;
  margin: 0 auto;
}

.mobileCounteiner {
  max-width: 1220px;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .mobileCounteiner {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 999px) {
  .mobileCounteiner {
    max-width: 800px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 799px) {
  .mobileCounteiner {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 599px) {
  .mobileCounteiner {
    max-width: 400px;
  }
}

@media screen and (max-width: 399px) {
  .mobileCounteiner {
    max-width: 329px;
    margin: 0 auto;
  }
}

section {
  min-height: 680px;
}

section hr {
  border: 1px solid #ffffff4b;
}

@media screen and (max-width: 1199px) {
  .hr {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 12px;
}

@media screen and (max-width: 1199px) {
  .header {
    background-color: #003879;
    height: 72px;
    padding: 12px 30px;
  }
}

.header__logo {
  z-index: 1;
}

.header__logo a {
  position: absolute;
  width: 191.99px;
  height: 44px;
  z-index: 4;
  cursor: pointer;
}

.header__navigations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  padding: 18px;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-right: 16px;
  color: white;
}

@media screen and (max-width: 1199px) {
  .header__nav {
    display: none;
  }
}

.header__nav a {
  z-index: 10;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: white;
}

.header__nav a:after {
  display: block;
  position: absolute;
  bottom: -28px;
  width: 0%;
  height: 2px;
  background-color: red;
  content: "";
}

.header__nav a:hover:after {
  width: 100%;
}

.header__nav a:active {
  color: red;
}

.header__menu {
  z-index: 10;
  cursor: pointer;
  padding: 6px;
  min-width: 40px;
  min-height: 16px;
}

.header__menu hr {
  border: 1px solid #ffffff;
}

.header__menu:active hr {
  border-color: red;
}

.rhtSide {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 12;
  top: 0;
  right: 0;
  color: #8A93B4;
  background-color: #0F1D4E;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.rhtSide__counteiner {
  max-width: 340px;
  margin: 0 auto;
}

.rhtSide hr {
  margin: 16px 0px;
}

.rhtSide__header {
  padding: 20px 0px 12px 0px;
  font-size: 36px;
  font-family: Cuprum;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}

.rhtSide__close {
  position: absolute;
  right: 32px;
  top: 30px;
  width: 32px;
  height: 32px;
  opacity: .7;
}

.rhtSide__close:hover {
  opacity: 1;
}

.rhtSide__close:before {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 24px;
  width: 2px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.rhtSide__close::after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 24px;
  width: 2px;
  background-color: white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.rhtSide__button {
  padding: 16px 0px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.rhtSide__button a {
  position: relative;
  text-decoration: none;
  color: #8A93B4;
}

.rhtSide__button a:hover {
  color: white;
}

.rhtSide__button a:after {
  display: block;
  position: absolute;
  bottom: -10px;
  width: 0%;
  height: 2px;
  background-color: red;
  content: "";
}

.rhtSide__button a:hover:after {
  width: 100%;
}

.rhtSide__button a:active {
  color: red;
}

.rhtSide__footer {
  padding-top: 14vh;
}

.rhtSide__footer a {
  cursor: pointer;
  text-decoration: none;
}

.rhtSide__items {
  white-space: pre;
  padding: 8px 0px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.rhtSide__itemsStyle {
  white-space: pre;
  color: white;
}

.mine__tittle {
  margin-top: 12vh;
  font-family: Cuprum;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 92px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

@media screen and (max-width: 599px) {
  .mine__tittle {
    margin-top: 34vh;
    font-family: Cuprum;
    font-size: 56px;
    line-height: 60px;
  }
}

.mine__text {
  margin-top: 2vh;
  font-family: Roboto;
  font-size: 20px;
  line-height: 32px;
  color: white;
}

@media screen and (max-width: 599px) {
  .mine__text {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media screen and (max-width: 599px) {
  .mine__text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.mine__button {
  margin-top: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border: 1.5px solid rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px 25px 22px 25px;
  cursor: pointer;
  font-size: 14px;
  width: 20rem;
  -webkit-transition: .1s;
  transition: .1s;
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  color: white;
}

.mine__button:hover {
  padding: 22px 16px 22px 25px;
  -webkit-transition: .5s;
  transition: .5s;
  background: #8A93B4;
}

.mine__button:active {
  color: red;
  -webkit-transition: .1s;
  transition: .1s;
  border: 1.5px solid red;
}

.slider__graph {
  position: absolute;
  bottom: -10px;
  right: 0px;
}

@media screen and (max-height: 499px) {
  .slider {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .slider {
    display: none;
  }
}

.slider .owl-carousel {
  position: static;
  margin-top: 160px;
  margin-left: 1100px;
}

@media screen and (max-height: 999px) {
  .slider .owl-carousel {
    margin-top: 100px;
  }
}

@media screen and (max-height: 899px) {
  .slider .owl-carousel {
    margin-top: 10px;
  }
}

@media screen and (max-height: 699px) {
  .slider .owl-carousel {
    margin-top: -60px;
  }
}

@media screen and (max-height: 599px) {
  .slider .owl-carousel {
    margin-top: -120px;
  }
}

@media screen and (max-width: 1499px) {
  .slider .owl-carousel {
    margin-left: 920px;
  }
}

@media screen and (max-width: 1599px) {
  .slider .owl-carousel {
    margin-left: 1000px;
  }
}

.slider .owl-carousel .owl-dots :nth-child(1) {
  position: absolute;
  bottom: 210px;
  right: 747px;
}

.slider .owl-carousel .owl-dots :nth-child(2) {
  position: absolute;
  bottom: 213px;
  right: 521px;
}

.slider .owl-carousel .owl-dots :nth-child(3) {
  position: absolute;
  bottom: 389px;
  right: 303px;
}

.slider .owl-carousel .owl-dots :nth-child(4) {
  position: absolute;
  bottom: 426px;
  right: 159px;
}

@-webkit-keyframes radial-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
  }
}

@keyframes radial-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
  }
}

.slider .owl-carousel .owl-dot {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.2);
}

.slider .owl-carousel .owl-dot.active {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: red;
  border: solid 1px white;
  -webkit-animation: radial-pulse 2s infinite;
          animation: radial-pulse 2s infinite;
}

.slider__items {
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
}

.slider__items-Style {
  display: block;
  color: white;
  font-family: Cuprum;
  font-size: 72px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0.03em;
  text-align: left;
}

.footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0;
}

@media screen and (max-height: 499px) {
  .footer {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .footer {
    display: none;
  }
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 20px;
  background: #FFFFFF;
  opacity: 0.8;
  padding: 26px 20px 30px 30px;
  min-width: 360px;
  -webkit-transition: .5s;
  transition: .5s;
  border-top: 4px solid transparent;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #0f1e52 100%;
}

.footer__button:hover {
  padding: 26px 12px 30px 30px;
  -webkit-transition: .2s;
  transition: .2s;
  border-top: solid 4px red;
}

.footer__button:active {
  color: red;
  -webkit-transition: .2s;
  transition: .2s;
}

.leftSide {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  color: #8A93B4;
  background-color: #ffffff;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.leftSide__counteiner {
  max-width: 520px;
  margin: 0px 0px 0px 72px;
}

@media screen and (max-width: 599px) {
  .leftSide__counteiner {
    max-width: 400px;
    margin: auto;
  }
}

@media screen and (max-width: 399px) {
  .leftSide__counteiner {
    max-width: 329px;
    margin: auto;
  }
}

.leftSide__tittle {
  color: #0F1D4E;
  font-family: Cuprum;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 20vh;
}

@media screen and (max-width: 399px) {
  .leftSide__tittle {
    font-size: 36px;
  }
}

.leftSide__text {
  color: #484848;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10vh;
}

.leftSide__close {
  position: absolute;
  right: 32px;
  top: 30px;
  width: 32px;
  height: 32px;
  opacity: .7;
}

.leftSide__close:hover {
  opacity: 1;
}

.leftSide__close:before {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 24px;
  width: 2px;
  background-color: #8A93B4;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.leftSide__close::after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 24px;
  width: 2px;
  background-color: #8A93B4;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.leftSide__button {
  cursor: pointer;
  max-width: 240px;
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: #0F1D4E;
  padding: 16px 24px;
  margin-top: 10vh;
}

.leftSide__button:hover {
  background-color: #003879;
}

.leftSide__button.active {
  color: red;
}

.sidetwo__mine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12vh;
}

@media screen and (max-width: 799px) {
  .sidetwo__mine {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.sidetwo__leftside {
  max-width: 40%;
}

@media screen and (max-width: 799px) {
  .sidetwo__leftside {
    min-width: 600px;
  }
}

@media screen and (max-width: 599px) {
  .sidetwo__leftside {
    margin: auto;
    min-width: 400px;
  }
}

@media screen and (max-width: 399px) {
  .sidetwo__leftside {
    min-width: 329px;
    margin: 0 auto;
  }
}

.sidetwo__rightside {
  max-width: 45%;
}

@media screen and (max-width: 799px) {
  .sidetwo__rightside {
    min-width: 600px;
  }
}

@media screen and (max-width: 599px) {
  .sidetwo__rightside {
    margin: auto;
    min-width: 400px;
  }
}

@media screen and (max-width: 399px) {
  .sidetwo__rightside {
    min-width: 329px;
    margin: 0 auto;
  }
}

.sidetwo__header {
  color: white;
  font-family: Cuprum;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 399px) {
  .sidetwo__header {
    font-family: Cuprum;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.sidetwo__line {
  margin: 3vh 0px;
}

.sidetwo__text {
  color: #bbbbbb;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 799px) {
  .sidetwo__text {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 399px) {
  .sidetwo__text {
    ffont-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.sidetwo__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border: 1.5px solid rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px 25px 22px 25px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 8vh;
  width: 16rem;
  -webkit-transition: .5s;
  transition: .5s;
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  color: white;
}

.sidetwo__button:hover {
  padding: 22px 16px 22px 25px;
  -webkit-transition: .5s;
  transition: .5s;
  background: #8A93B4;
}

@media screen and (max-width: 799px) {
  .sidetwo__button {
    display: none;
  }
}

.sidetwo__slider {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 599px) {
  .sidetwo__slider {
    height: 320px;
    width: 400px;
  }
  .sidetwo__slider img {
    width: 400px;
  }
}

@media screen and (max-width: 399px) {
  .sidetwo__slider {
    height: 320px;
    width: 400px;
  }
  .sidetwo__slider img {
    width: 328px;
  }
}

.sidetwo__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidetwo__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 30px 0px;
}

.sidetwo__slider .slick-dots button {
  width: 17.5px;
  height: 2.5px;
  font-size: 0px;
  border: none;
  margin-right: 9px;
  background-color: #C4C4C4;
  opacity: 20%;
}

@media screen and (max-width: 599px) {
  .sidetwo__slider .slick-dots button {
    width: 16px;
    height: 4px;
  }
}

.sidetwo__slider .slick-dots li {
  margin: 0px 0px;
  list-style: none;
}

.sidetwo__slider .slick-dots li.slick-active button {
  background-color: white;
  opacity: 1;
}

.sidetwo__slider .slick-arrow {
  position: absolute;
  top: 376px;
  right: 0px;
  font-size: 0px;
}

@media screen and (max-width: 599px) {
  .sidetwo__slider .slick-arrow {
    top: 260px;
  }
}

@media screen and (max-width: 399px) {
  .sidetwo__slider .slick-arrow {
    top: 220px;
  }
}

.sidetwo__slider .slick-arrow.slick-prev {
  min-width: 56px;
  min-height: 56px;
  background: url(img/prev\.png) center no-repeat;
  border: solid 1px #8A93B4;
  right: 72px;
}

.sidetwo__slider .slick-arrow.slick-prev:hover {
  background-color: rgba(183, 216, 255, 0.13);
  border: solid 1px rgba(183, 216, 255, 0.13);
}

@media screen and (max-width: 399px) {
  .sidetwo__slider .slick-arrow.slick-prev {
    right: 144px;
  }
}

.sidetwo__slider .slick-arrow.slick-next {
  min-width: 56px;
  min-height: 56px;
  background: url(img/next\.png) center no-repeat;
  border: solid 1px #8A93B4;
}

.sidetwo__slider .slick-arrow.slick-next:hover {
  background-color: rgba(183, 216, 255, 0.13);
  border: solid 1px rgba(183, 216, 255, 0.13);
}

@media screen and (max-width: 399px) {
  .sidetwo__slider .slick-arrow.slick-next {
    right: 72px;
  }
}

.sidetwo__footer {
  margin: 4vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 799px) {
  .sidetwo__footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 160px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 4vh 0;
  }
}

@media screen and (max-width: 399px) {
  .sidetwo__footer {
    min-width: none;
    margin: 4vh 10px;
  }
}

.sidetwo__item {
  margin-right: 76px;
  color: #bbbbbb;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
}

@media screen and (max-width: 399px) {
  .sidetwo__item {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: left;
  }
}

@media screen and (max-width: 799px) {
  .sidetwo__itemSpec {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.sidetwo__itemStyle {
  display: block;
  color: white;
  font-family: Cuprum;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 399px) {
  .sidetwo__itemStyle {
    font-family: Cuprum;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
  }
}

@media screen and (max-width: 799px) {
  .sidetwo__item {
    min-width: 160px;
    margin: 24px 20px;
  }
}

@media screen and (max-width: 399px) {
  .sidetwo__item {
    margin: 8px 8px;
  }
}

.sidetwo .mobileButton {
  display: none;
}

@media screen and (max-width: 799px) {
  .sidetwo .mobileButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    border: 1.5px solid rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 22px 25px 22px 25px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 8vh;
    margin-bottom: 56px;
    width: 16rem;
    -webkit-transition: .5s;
    transition: .5s;
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    color: white;
  }
  .sidetwo .mobileButton:hover {
    padding: 22px 16px 22px 25px;
    -webkit-transition: .5s;
    transition: .5s;
    background: #8A93B4;
  }
}

@media screen and (max-width: 599px) {
  .sidetwo .mobileButton {
    margin: auto;
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 399px) {
  .sidetwo .mobileButton {
    width: 328px;
  }
}
/*# sourceMappingURL=style.css.map */