body{
    cursor: crosshair;
    margin: 0;
}
.mine{
    box-shadow: inset 0px 0px 900px 100px rgb(36, 36, 36);
    background-color: rgb(180, 190, 180);
    min-width:100vw;
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;

		&__counteiner {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            min-width: 700px;
            min-height: 400px;
            border: solid 4px  rgb(42, 53, 42);
        }
           
        &__right {
        }
        &__left {
            margin-right: 10px;
            
        }
    
        &__health {
        }
    
        &__coins {
            margin: 20px;
            min-width: 400px;
        }
    
        &__coin {
            
            display: flex;
            justify-content: right;
            font-size: 24px;
            font-family: 'Staatliches', cursive;
            img{
                max-width: 34px;
                max-height: 100px;
            }
        }
    
        &__input {
            display: block;
            
            font-family: 'Staatliches', cursive;
            font-size: 24px;
            margin: 20px;
            color:  rgb(42, 53, 42);
        }
        .mineInput{
            letter-spacing: 2px;
            font-family: 'Staatliches', cursive;
            color:  rgb(42, 53, 42);
            font-size: 20px;
            display: block;
            outline:none;
            padding: 5px;
            background-color: transparent;
            border: solid 2px  rgb(42, 53, 42);
        }
    
        &__buttons {
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }
		&__button {
            cursor: pointer;
            text-align: center;
            font-family: 'Staatliches', cursive;
            padding: 6px 10px;
            margin: 10px;
            color:  rgb(42, 53, 42);
            border: solid 2px  rgb(42, 53, 42);
        } 
}
